form{
  div {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;


    label {
      font-weight: bold;
    }

    input {
      outline: none;
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px 10px;
    }
  }

  input[type='submit'] {
    background-color: white;
    outline: none;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
  }

  input[type='submit']:hover {
    background-color: black;
    color: white;
  }
}